main {
  padding-top: 100px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: #277165;
}

.orange {
  background-color: #B38C3E;
}

.blue {
  background-color: #09276C;
}

.red {
  background-color: #AB3B4A;
}